/* Estilos para el modal personalizado */
.custom-modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    background: rgba(0, 0, 0, 0.4); 
    display: flex; 
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}

.custom-modal__container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
    max-height: 86%;
    overflow: hidden; /* Oculta el desplazamiento del modal principal */
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s;
    display: flex; /* Asegúrate de que el contenedor principal sea flex */
    flex-direction: column; /* Cambia a columna para organizar el contenido */
    margin: auto; /* Asegura que el modal esté centrado */
    margin-top: 50px; 
}

/* Animación de entrada */
@keyframes fadeIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Contenido del modal */
.custom-modal__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Alinear a la izquierda */
    align-items: flex-start; /* Alinear los elementos en la parte superior */
    overflow-y: hidden; /* Habilitar desplazamiento vertical para el contenido */
    max-height: calc(90vh - 100px); /* Altura máxima ajustada */
}

/* Ajuste para el lado izquierdo del modal */
.custom-modal__left {
    flex: 1;
    padding: 40px; 
    display: flex;
    flex-direction: column; /* Cambia a columna para alinear los elementos verticalmente */
    align-items: center; /* Centrar horizontalmente */
    max-height: calc(90vh - 100px); /* Altura máxima ajustada */
    margin-bottom: 10px; /* Ajusta este valor para reducir el espaciado inferior */
    overflow: hidden; /* Cambiado a hidden para eliminar la barra de desplazamiento */
    justify-content: flex-start; /* Asegura que los elementos comiencen desde la parte superior */
}


/* Ajuste para el lado derecho del modal */
.custom-modal__right {
    flex: 1; /* Reduce el ancho proporcional del lado derecho */
    overflow-y: auto; /* Solo el lado derecho tendrá barra de desplazamiento */
    max-height: calc(90vh - 100px); /* Mantén la altura máxima ajustada */
}


/* Estilo de la imagen del producto */
.modal-product-image {
    margin: 0 auto 20px; /* Centra la imagen horizontalmente y añade margen inferior */
    width: 100%; /* Asegura que ocupe el ancho disponible */
    max-width: 240px; /* Ancho máximo */
    height: 240px; /* Altura fija para uniformidad */
    object-fit: contain; /* Asegura que la imagen se vea completa sin recortes */
}


/* Estilo para el título y descripción del producto */
.modal-product-title {
    color: #333;
    font-size: 30px;
    margin: 5px 0px; 
}

.modal-product-description {
    color: #666;
    font-size: 16px;
    margin: 10px 0;
}

/* Contenedor principal para las opciones de personalización */
.customization {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; /* Espacio uniforme entre las columnas */
    margin-bottom: 20px; /* Espacio entre la sección de opciones y el siguiente contenido */
}

/* Contenedor para cada columna */
.customization-column {
    flex: 0 0 calc(50% - 20px); 
    margin-bottom: 20px; /* Margen inferior para separación entre filas */
}


.special-instructions {
    width: 400px; /* Ajusta el ancho a un porcentaje más grande */
    max-width: -8000px; /* Puedes aumentar o reducir el ancho máximo */
    border: 1px solid #edb97f;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0;
    resize: none;
    color: #333;
    min-height: 100px;
}



.special-instructions:focus {
    outline: none; 
    border: 1px solid #edb97f; 
}

/* Estilos para los subtítulos */
.custom-modal__right h4 {
    color: #edb97f; /* Color de los subtítulos */
    margin-bottom: 10px; /* Espacio debajo del subtítulo */
    font-size: 1.2em; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
}

/* Estilo para las opciones de personalización */
.customization-options {
    margin-top: 10px; /* Espacio superior para separarlo de la instrucción */
    font-size: 16px;
    color: #444;
    max-height: 300px; /* Altura máxima para el desplazamiento */
    overflow-y: auto; /* Habilitar el desplazamiento vertical */
    border: 1px solid #ddd; /* Agrega un borde para mayor claridad */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
}

.customization {
    margin-top: 10px; /* Espaciado entre las instrucciones y los checkboxes */
}

/* Estilo para cada label */
.customization-column label {
    display: block; 
    margin-bottom: 10px; /* Espacio entre los checkbox */
    font-size: 1em;
    color: #333; /* Color del texto de los checkbox */
}

/* Controles de cantidad */
.quantity-controls {
    display: flex; 
    align-items: center;
    justify-content: flex-start; /* Alinea a la izquierda */
    gap: 15px; 
    flex: 1; /* Para que ocupe el espacio disponible */
}

.quantity-btn {
    background-color: #edb97f; 
    border: none;
    border-radius: 5px;
    padding: 5px 10px; 
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    transition: background-color 0.3s;
}

.quantity-btn:hover {
    background-color: #d6a36e;
}

/* Estilo del botón de agregar al carrito */
.btn-2 {
    background-color: #edb97f; 
    color: white;
    border: none;
    border-radius: 8px; 
    padding: 10px 20px; 
    font-size: 14px; 
    cursor: pointer;
    display: inline-block; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin-left: 15px; /* Agrega espaciado a la izquierda */
}

.btn-2:hover {
    background-color: #d6a36e; 
}


/* Estilo del botón de cerrar */
.custom-modal__close {
    position: absolute;
    top: 15px;
    right: 5px;
    cursor: pointer;
    color: #333;
    font-size: 24px;
}

.custom-modal__close:hover {
    color: #edb97f;
}

/* Ajustes generales para el modal */
.custom-modal-footer {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido del footer a la derecha */
    align-items: center;
    margin-top: 20px;
    background-color: #fbe1c3; /* Fondo del footer */
    padding: 10px; /* Espacio interno */
    position: relative; /* Cambia a relative para que no se fije al fondo */
    width: calc(50% - 20px); /* Ancho del footer al 50% menos un margen */
    margin-left: auto; /* Alinea el footer al lado derecho */
    margin-right: 0; /* Espacio desde el borde derecho */
}


.price-container {
    display: flex; /* Usa flexbox para centrar */
    justify-content: center; /* Centra el contenido */
    flex: 1; /* Para que ocupe el espacio disponible */
    margin-left: -100px; /* Ajusta este valor según sea necesario para mover el precio a la izquierda */
}
